<% provide(:title, 'About') %>

<h1>About SwimApp</h1>
<p>I had three goals for this year: make a rails app, swim 100 miles, and kill two birds with one stone. This project should help with all three.</p>
