<% provide(:title, 'Deep End') %>
<div class="container">
  <h1>The Deep End</h1>

  <h2>
    Experienced Swimmers Start Here
  </h2>

  <div>
    <h3>
    What should I do for a workout?
    </h3>
    <p>I like to go for long, uniterrupted swims. But the most effective way to train is to do high intensity interval sets, in which you swim hard for short distances and rest in between.</p>
    <p><%= link_to "Swim Plan", 'http://www.swimplan.com' %> is a great resource that gives you customized daily workouts based on your ability and desired workout length.</p>
    <p>If you're serious about improving as a swimmer, you should dedicate some time each week to drills designed to refine your technique. You can easily find drills on the internet, and the <%= link_to "US Masters Swimming", 'http://www.usms.org' %> website has some <%= link_to "great drills", 'http://www.usms.org/articles/articlesearch.php?CategoryID%5B%5D=5' %>. I'd recommend bookmarking usms.org, as it is one of the best swimming resources on the internet.</p>

    <h3>
      What should I buy?
    </h3>
    <p>Recommendations coming soon</p>

    <h3>
    What about open water swimming?
    </h3>
    <p>Watch out for sharks. And try not to get pollution on you. More coming.</p>

  </div>

</div>