<% provide(:title, 'home') %>
<div>
  <h1>Welcome to Swim App</h1>

  <h2>
    Good for swimming
  </h2>

  <div style="margin:10px;">
  <% if user_signed_in? %>
    <%= Totaler.new().get_total(current_user) %>
    <%= Totaler.new().count_em(current_user) %>
    <%= Totaler.new().tester %>
  <% end %>
  </div>

  <%= link_to "Sign up and swim!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
