<% provide(:title, 'Shallow End') %>
<div class="container">
  <h1>The Shallow End</h1>

  <h2>
    New swimmers start here
  </h2>

  <div class="text_bg">
  	<h3>
  	Why should I swim?	
  	</h3>
  	<p>Because it's fun and it's good for you!</p>
  	<p>Swimming is easy on your body. Let's face it: for some of us, it's been a while since our last visit to the gym. If it's been a while since you exercised regularly, swimming is a great way to get back in shape. Running can be hard on your knees and ankles &emdash; which can discourage beginners. Swimming, on the other hand, is low-impact and carries almost no risk of injury. No matter your current fitness-level, you can get a good cardiovascular workout and build strength by swimming.</p>

  	<h3>
  	How should I swim?
  	</h3>
  	<p>If you just want to get some exercise, it really doesn't matter. If you're in the water and you're moving, you're going to burn calories. However, if you spend some time working on your technique, you'll find that you can swim much further and faster &emdash; thereby gaining a lot more benefits from your swim workouts.</p>
  	<p>There are four strokes that are used in competition: backstroke, breaststroke, butterfly, and free-style. Freestyle (sometimes called 'crawl') is the most popular stroke, because it is the fastest and most efficient.</p>
  	<p><%= link_to "Swim Smooth", 'http://www.swimsmooth.com', class: 'text_link'%> looks like a good place for some pointers if you'd like to learn better swimming technique.</p>

  	<h3>
  	Where should I swim?
  	</h3>
  	<p>It's easy to find pools in the summer. For the other nine months of the year, I would suggest finding an indoor pool. Start with your city's parks and recreation website; odds are that your community has an indoor municipal pool. Most universities have an indoor pool and some private gyms have lap pools. Preferrably, the pool you use will be at least 25 yards long.</p>

  	<h3>
  	What do I need?
  	</h3>
  	<p>Not much: a pool, a swimsuit, a pair of goggles, and a towel. Many swimmers also like a swim cap. Check out the <%= link_to "Deep End", deep_end_path, class: 'text_link' %> for more detailed gear recommendations and discussion of kick-boards, pull-buoys, etc.</p>

  	<h3>
  	Do I have to wear a speedo?
  	</h3>
  	<p>No. But you should shouldn't feel nervous about it, either. Most serious swimmers wear speedos, or knee-length (but still tight) 'jammers' when they train. The benefits are reduced resistance in the water and improved range of motion.</p>
  	<p>Just kidding. The speedo is mandatory.</p>

  	<h3>
  	Why 100 miles?
  	</h3>
  	<p>I believe that anyone who is reasonably committed to the goal can swim one hundred miles in a year. You can swim one hundred miles in a year if you go to the pool three times a week and swim ~1200 yards (24 laps). For an experienced swimmer, this distance takes between 15 and 20 minutes. If you're just getting started, it will take you longer to complete this distance, but by the end of the year, you'll be completing that distance in no time.</p>

  </div>

</div>