<div class="container">

<h1>Editing workout</h1>

<%= render 'form' %>

<%= link_to 'Show', @workout, class:"btn btn-default" %> |
<%= link_to 'Back', workouts_path, class:"btn btn-default" %>

</div>