<header>
  <div>
    <div class="container" >
      <%= link_to "Swim App", root_path, id:"logo" %>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign in", user_session_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
